.entradas{
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display:block;
}

.entradas:hover{
  transform: scale(1.03);
  transition: 0.3s;
  background: rgba(98, 181, 108, 0.35);
  text-decoration: none;
}

.entradas-titulo{
  margin: 0;
  border-bottom: 1px solid lightgray;
  color: black;
}

.entradas-datos{
  font-style: italic;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
  margin: 0
}
.entradas-autor{

}

.entradas-fecha{
}
